# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
.env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Local development
.DS_Store
.git
.gitignore
README.md

logs/*
certs/*
mods-available/*
mods-config/*
mods-enabled/*
sites-available/*
sites-enabled/*
policy.d/*
clients.conf
experimental.conf
hints
huntgroups
panic.gdb
proxy.conf
radiusd.conf
README.md
README.*
templates.conf
users
trigger.conf
